@model AdminSeaSharp.Models.Inlog
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <h4>Logga in som administratör</h4>

        <table>
      
            <tr>
                <td>Användarnamn:</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
 
            <tr>
                <td>Lösenord:</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>

            <tr>
                <td><input type="submit" value="Logga in" /></td>
            </tr>

        </table>
        <p>@ViewBag.FelMeddelande</p>
    }

    

</body>
</html>

