
@{
    ViewData["Title"] = "My Pages";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h2>My Pages</h2>
    <p>@Html.ActionLink("< Back to login page", "Index", "Inlog")</p>
    <br />

    <p>@Html.ActionLink("User Profile", "Index", "Profile")</p>
    <br />

    <p>@Html.ActionLink("Log out", "Signout")</p>

    <h2>Bookings</h2>
</body>
</html>
