
@{
    ViewData["Title"] = "Hotel SeaSharp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="http://193.10.202.77/css/HotelSeasharp.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">SeaSharpHotel_Gäst</h1>
    </div>
    <br />

    <p>Have an account? Here you can @Html.ActionLink("sign in", "Index", "Guest")</p>
    <br />

    @ViewData["Succes"]

</body>
</html>
