@model SeaSharpHotel_Gäst.Models.GuestLogin

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <h2>Logga in</h2>

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Email:</td>
                <td>@Html.TextBoxFor(m => m.E_Mail)</td>
            </tr>
            <tr>
                <td>Lösenord:</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Logga in" /></td>
            </tr>

        </table>
        <p>@ViewBag.FelMeddelande</p>

    }
</body>
</html>
